html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --text-color: #fff;
  --main-color: #242b33;
  --accent-color: #d4c17f;
  --secondary-color: #3596f5;
  --font: 'Raleway', 'Playfair Display', 'Roboto', 'Open Sans';
}

body {
  background-color: var(--main-color);
}

.link {
  display: block;
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
}

/* 
==========================================================
HEADER
==========================================================
*/

.header {
  background-color: var(--main-color);
}

.header-nav {
  height: 80px;
  width: 910px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
}

.header-menu__item .link {
  font-family: var(--font);
  padding: 20px;
  color: var(--text-color);
  transition: 0.5s;
}

.header-menu__item .link:hover {
  color: var(--accent-color);
  transform: scale(1.08);
}

/* 
==========================================================
BANNER
==========================================================
*/

.banner {
  height: 600px;
  max-width: 1680px;
  background-image: url(../img/banner.jpg);
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-title {
  color: var(--accent-color);
  font-family: var(--font);
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  margin-bottom: 100px;
}

.banner-list {
  display: flex;
  margin-top: 100px;
}

.banner-list__item {
  display: flex;
}

.banner-list__item:not(:last-child) {
  margin-right: 100px;
}

.banner-contacts {
  line-height: 21px;
  text-align: center;
  font-family: var(--font);
  color: var(--text-color);
  font-style: normal;
  margin-left: 18px;
}

/* 
==========================================================
TESTIMONIALS
==========================================================
*/
.testimonials {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}

.testimonials-list {
  display: flex;
  width: 794px;
  margin-left: auto;
  margin-right: auto;
}

.testimonials-list__text {
  color: var(--text-color);
  font-family: var(--font);
  font-size: 16px;
  line-height: 27px;
  text-align: center;
}

/* 
==========================================================
APARTMENTS
==========================================================
*/

.apartments {
  padding-bottom: 180px;
}

.title {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: var(--accent-color);
  font-family: var(--font);
}

.flats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.flats-txt {
  font-size: 24px;
  line-height: 28px;
  color: var(--text-color);
  font-family: var(--font);
}

/* 
==========================================================
HOUSE
==========================================================
*/

.house .container {
  display: flex;
}

.home-image path {
  opacity: 0;
  cursor: pointer;
}

.home-image path:hover {
  opacity: 1;
}

path.current-floor {
  opacity: 1;
}

.main-info {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter {
  font-size: 124px;
  color: var(--accent-color);
  font-family: var(--font);
}

.counter-button {
  all: unset;
  cursor: pointer;
}

.counter-arrow-down {
  transform: rotateX(180deg);
}

.button-primary {
  padding: 16px 36px;
  width: 297px;
  height: 51px;
  color: var(--text-color);
  background: var(--accent-color);
  border-radius: 6px;
  cursor: pointer;
}

/* 
==========================================================
MODAL
==========================================================
*/

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s;
}

.is-open {
  opacity: 1;
  transform: scale(1);
}

.modal-dialog {
  max-width: 1000px;
  min-height: 565px;
  background-color: #fff;
  flex-grow: 1;
  display: flex;
  position: relative;
}

.modal-image {
  background-color: #ebebeb;
  width: 60%;
  text-align: center;
  padding: 50px;
}

.flats path {
  opacity: 0;
}

.flats path:hover {
  opacity: 1;
}

.modal-title {
  font-family: var(--font);
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin-top: 0;
  margin-bottom: 25px;
}

.modal-info {
  padding: 50px;
  width: 40%;
}

.modal-counter {
  font-family: var(--font);
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.flat-list {
  margin-top: 55px;
  margin-bottom: 55px;
}

.flat-link {
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--main-color);
  font-family: var(--font);
}

.flat-link:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

.modal-alert {
  font-family: var(--font);
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--secondary-color);
}

.modal-close-button {
  all: unset;
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 20px;
}
/* 
==========================================================
FORM
==========================================================
*/

.form-section {
  background-image: url(../img/Rectangle.jpg);
  padding-top: 180px;
  padding-bottom: 180px;
}

.form-container {
  display: flex;
}

.form-section__text {
  color: var(--text-color);
  font-family: var(--font);
  font-size: 14px;
  line-height: 1.5;
  width: 535px;
  margin-right: 35px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  width: 540px;
  height: 135px;
  justify-content: space-between;
  align-items: stretch;
}

.form-input {
  all: unset;
  width: 255px;
  height: 50px;
  background-color: #36383a;
  opacity: 0.8;
  text-align: center;
}

.form-txt {
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #e7e7e7;
  font-family: var(--font);
}

.form-btn {
  all: unset;
  width: 255px;
  height: 50px;
  color: var(--text-color);
  text-align: center;
  background: var(--accent-color);
  cursor: pointer;
}

/* 
==========================================================
MAP & VIDEO
==========================================================
*/

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 180px;
}

.img-v {
  position: relative;
}

.play-btn {
  all: unset;
  position: absolute;
}

.map {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 1110px;
  height: 358px;
  margin-bottom: 180px;
  margin-top: 40px;
}

.line-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 180px;
  margin-top: 40px;
}

.ftr {
  padding-top: 60px;
  padding-bottom: 60px;
  border-color: #2d343c;
}

.ftr .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.txt {
  font-family: var(--font);
  color: var(--text-color);
}
